---
import profileImage from '../assets/images/profile.jpg';
---

<main id="container" class="w-full h-screen">
	<div class="w-full h-screen flex justify-center items-center relative border-t-8 border-b-8 border-terracotta">
		<div class="max-width-lg mx-auto p-6 max-h-fit flex flex-col items-center">
			<h1 class="text-largest text-center font-bold text-terracotta">Emanoel Lopes</h1>
			<img class="rounded-full mx-auto mt-2 border-4 border-terracotta" src={profileImage.src} alt="imagem de Emanoel Lopes" width="160" height="160" />
			<p class="mt-2">Olá! 👋!</p>
			<p class="mt-2">Sou <strong>Emanoel Lopes</strong>, Engenheiro de Software Front-End, de São Paulo, Brasil.</p>
			<p class="mt-2">Atualmente trabalho no <a class="font-bold underline underline-offset-1 text-terracotta" href="https://www.linkedin.com/company/luizalabs/" title="Luizalabs">Luizalabs</a>, área de tecnologia e inovação do <a class="font-bold underline underline-offset-1 text-terracotta" href="https://www.magazineluiza.com.br/" title="Magazine Luiza">Magazine Luiza</a>.</p>
			<p class="mt-2">Apreciador de café, tutor de 5 gatos, corredor amador nas horas livres e às vezes eu escrevo algumas coisas.</p>
			<div class="mt-4">
				<a class="mx-sm text-terracotta" href="#">Github</a>
				<a class="mx-sm text-terracotta" href="#">Linkedin</a>
				<a class="mx-sm text-terracotta" href="#">Dev.to</a>
				<a class="mx-sm text-terracotta" href="#">E-mail</a>
			</div>
		</div>
	</div>
</main>

