---
import Head from '@components/astro/Head.astro';
import GTMIframe from '@components/astro/GTMIframe.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<GTMIframe />
		<slot />
	</body>
</html>


