---
import Head from '@components/astro/Head.astro';
import Header from '@components/react/Header';
import Main from '@components/astro/Main.astro';
import Bio from '@components/react/Bio';
import Footer from '@components/react/Footer';
---

<!doctype html>
<html lang="pt-br">
	<head>
		<Head />
	</head>
	<body class="h-full grid grid-rows-[70px_1fr_auto] bg-light dark:bg-dark">
		<Header client:load />
		<Main>
			<Bio />
		</Main>
		<Footer />
	</body>
</html>
