---
import Head from '@components/astro/Head.astro';
import Header from '@components/react/Header';
import Main from '@components/astro/Main.astro';
import GTMIframe from '@components/astro/GTMIframe.astro';
import Footer from '@components/react/Footer';

import NotFound from '@components/react/NotFound';
---

<!doctype html>
<html lang="pt-br">
	<head>
		<Head />
	</head>
	<body class="h-full grid grid-rows-[70px_1fr_auto] bg-light dark:bg-dark">
		<GTMIframe />
		<Header client:load />
		<Main>
			<NotFound />
		</Main>
		<Footer />
	</body>
</html>
